In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("dataset/train.csv")

In [3]:
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [4]:
df.shape

(36992, 25)

In [5]:
df.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
count,36992.000000,36992.000000,36992.000000,36992.000000,33549.000000,36992.000000
mean,37.118161,-41.915576,243.472334,29271.194003,686.882199,3.463397
std,15.867412,228.819900,398.289149,19444.806226,194.063624,1.409661
min,10.000000,-999.000000,-2814.109110,800.460000,-760.661236,-1.000000
25%,23.000000,8.000000,60.102500,14177.540000,616.150000,3.000000
50%,37.000000,12.000000,161.765000,27554.485000,697.620000,4.000000
75%,51.000000,16.000000,356.515000,40855.110000,763.950000,5.000000
max,64.000000,26.000000,3235.578521,99914.050000,2069.069761,5.000000

In [8]:
df.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [9]:
df.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [11]:
df.internet_option.value_counts()

Wi-Fi          12413
Mobile_Data    12343
Fiber_Optic    12236
Name: internet_option, dtype: int64

In [19]:
#filling categorical column
df['region_category']=df['region_category'].fillna(df['region_category'].mode()[0])
df['preferred_offer_types']=df['preferred_offer_types'].fillna(df['preferred_offer_types'].mode()[0])

In [20]:
#filling numerical column
df['points_in_wallet']=df['points_in_wallet'].fillna(df['points_in_wallet'].mean())

In [21]:
df.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
dtype: int64

In [23]:
!pip install pandas_profiling

Collecting pandas_profiling
  Downloading pandas_profiling-3.0.0-py2.py3-none-any.whl (248 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (1.1.3)
Requirement already satisfied: joblib in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (0.17.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (1.19.2)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (0.11.0)
Collecting phik>=0.11.1
  Downloading phik-0.12.0-cp38-cp38-win_amd64.whl (659 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (1.5.2)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (4.50.2)
Collecting pydantic>=1.8.1
  Downloading pydantic-1.8.2-cp38-cp38-win_amd64.whl (2.0 MB)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
Requirement already satisfied: requests>=2.24.0 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (3.3.2)
Collecting visions[type_image_path]==0.7.1
  Downloading visions-0.7.1-py3-none-any.whl (102 kB)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (5.3.1)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Collecting missingno>=0.4.2
  Downloading missingno-0.5.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\deeks\anaconda3\lib\site-packages (from pandas_profiling) (2.11.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\deeks\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\deeks\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2020.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\deeks\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (3.7.4.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\deeks\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\deeks\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\deeks\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\deeks\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied: pillow>=6.2.0 in c:\users\deeks\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\deeks\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\deeks\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\deeks\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: bottleneck in c:\users\deeks\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (1.3.2)
Requirement already satisfied: networkx>=2.4 in c:\users\deeks\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (2.5)
Requirement already satisfied: attrs>=19.3.0 in c:\users\deeks\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (20.3.0)
Collecting multimethod==1.4
  Downloading multimethod-1.4-py2.py3-none-any.whl (7.3 kB)
Collecting imagehash; extra == "type_image_path"
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\deeks\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas_profiling) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\deeks\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\deeks\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas_profiling) (4.4.2)
Requirement already satisfied: PyWavelets in c:\users\deeks\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.1->pandas_profiling) (1.1.1)
Building wheels for collected packages: htmlmin, imagehash
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27091 sha256=327f55e0fe7b51ca998998d2396d23588d6c8e28b2dbc01d064244fbdc39b6d5
  Stored in directory: c:\users\deeks\appdata\local\pip\cache\wheels\23\14\6e\4be5bfeeb027f4939a01764b48edd5996acf574b0913fe5243
  Building wheel for imagehash (setup.py): started
  Building wheel for imagehash (setup.py): finished with status 'done'
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295204 sha256=0398f262cd17015158eeb5b628dcecb2c655ee76f826c707686e17793297d9ff
  Stored in directory: c:\users\deeks\appdata\local\pip\cache\wheels\48\a1\7f\096c1269d6bf78d4768180602579b35a1e8cb1250bb4b40c74
Successfully built htmlmin imagehash
Installing collected packages: phik, pydantic, tangled-up-in-unicode, multimethod, imagehash, visions, htmlmin, missingno, pandas-profiling
Successfully installed htmlmin-0.1.12 imagehash-4.2.1 missingno-0.5.0 multimethod-1.4 pandas-profiling-3.0.0 phik-0.12.0 pydantic-1.8.2 tangled-up-in-unicode-0.1.0 visions-0.7.1

In [24]:
from pandas_profiling import ProfileReport
profile=ProfileReport(df)
profile.to_file(output_file="churn.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=38.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [25]:
#highly correlated
df[['complaint_status','past_complaint']].head()

      complaint_status past_complaint
0       Not Applicable             No
1               Solved            Yes
2  Solved in Follow-up            Yes
3             Unsolved            Yes
4               Solved            Yes

In [26]:
#dropping highly correlated columns
df.drop('complaint_status', axis=1, inplace=True)

In [27]:
df.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'feedback',
       'churn_risk_score'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   Name                          36992 non-null  object
 2   age                           36992 non-null  int64
 3   gender                        36992 non-null  object
 4   security_no                   36992 non-null  object
 5   region_category               36992 non-null  object
 6   membership_category           36992 non-null  object
 7   joining_date                  36992 non-null  object
 8   joined_through_referral       36992 non-null  object
 9   referral_id                   36992 non-null  object
 10  preferred_offer_types         36992 non-null  object
 11  medium_of_operation           36992 non-null  object
 12  internet_option               36992 non-null  object
 13  last_visit_time               36992 non-null  object
 14  days_since_last_login         36992 non-null  int64
 15  avg_time_spent                36992 non-null  float64
 16  avg_transaction_value         36992 non-null  float64
 17  avg_frequency_login_days      36992 non-null  object
 18  points_in_wallet              36992 non-null  float64
 19  used_special_discount         36992 non-null  object
 20  offer_application_preference  36992 non-null  object
 21  past_complaint                36992 non-null  object
 22  feedback                      36992 non-null  object
 23  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(18)
memory usage: 6.8+ MB

In [31]:
#graph for numerical data
df1=df[['age','days_since_last_login','avg_time_spent','avg_transaction_value','points_in_wallet', 'churn_risk_score']]

In [32]:
df1.head()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
0,18,17,300.63,53005.25,781.750000,2
1,32,16,306.34,12838.38,686.882199,1
2,44,14,516.16,21027.00,500.690000,5
3,37,11,53.27,25239.56,567.660000,5
4,31,20,113.13,24483.66,663.060000,5

In [35]:
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,17,300.63,53005.25,17.0,781.750000,Yes,Yes,No,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,16,306.34,12838.38,10.0,686.882199,Yes,No,Yes,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,14,516.16,21027.00,22.0,500.690000,No,Yes,Yes,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,11,53.27,25239.56,6.0,567.660000,No,Yes,Yes,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,20,113.13,24483.66,16.0,663.060000,No,Yes,Yes,Poor Website,5

In [41]:
df['joining_day']=pd.to_datetime(df.joining_date, format="%Y/%m/%d").dt.day
df['joining_month']=pd.to_datetime(df.joining_date, format="%Y/%m/%d").dt.month
df['joining_year']=pd.to_datetime(df.joining_date, format="%Y/%m/%d").dt.year

In [42]:
df.drop('joining_date', axis=1, inplace=True)

In [43]:
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,...,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,feedback,churn_risk_score,joining_day,joining_month,joining_year
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,No,xxxxxxxx,Gift Vouchers/Coupons,...,17.0,781.750000,Yes,Yes,No,Products always in Stock,2,1,1,1970
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,?,CID21329,Gift Vouchers/Coupons,...,10.0,686.882199,Yes,No,Yes,Quality Customer Care,1,1,1,1970
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,Yes,CID12313,Gift Vouchers/Coupons,...,22.0,500.690000,No,Yes,Yes,Poor Website,5,1,1,1970
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,Yes,CID3793,Gift Vouchers/Coupons,...,6.0,567.660000,No,Yes,Yes,Poor Website,5,1,1,1970
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,No,xxxxxxxx,Credit/Debit Card Offers,...,16.0,663.060000,No,Yes,Yes,Poor Website,5,1,1,1970

In [45]:
df[['last_visit_time']].head()

  last_visit_time
0        16:08:02
1        12:38:13
2        22:53:21
3        15:57:50
4        15:46:44

In [46]:
df[['last_visit_hour', 'last_visit_minutes', 'last_visit_seconds']]=df['last_visit_time'].astype(str).str.split(':',expand=True).astype(int)

In [47]:
df.drop('last_visit_time', axis=1, inplace=True)

In [48]:
#explodoing categorical data into diff int column
gender = pd.get_dummies(df[['gender']], drop_first=True)
region = pd.get_dummies(df[['region_category']], drop_first=True)
membership = pd.get_dummies(df[['membership_category']], drop_first=True)
referal = pd.get_dummies(df[['joined_through_referral']], drop_first=True)
offer = pd.get_dummies(df[['preferred_offer_types']], drop_first=True)
medium = pd.get_dummies(df[['medium_of_operation']], drop_first=True)
internet = pd.get_dummies(df[['internet_option']], drop_first=True)
discount = pd.get_dummies(df[['used_special_discount']], drop_first=True)
application = pd.get_dummies(df[['offer_application_preference']], drop_first=True)
complaint = pd.get_dummies(df[['past_complaint']], drop_first=True)
feedback = pd.get_dummies(df[['feedback']], drop_first=True)